//- base.pug

doctype html
html(lang="en")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/style.css")
    title #{title}
    block cdn

  body

    div.container
      div.row

        nav
          ul.menu
            li.menu__item
              a.menu__link(href="/") convert
            li.menu__item
              a(href="/tools") tools
            li.menu__item
              a(href="/trading") trading
            li.menu__item
              a(href="/resources") resources
            li.menu__item
              a(href="/transfer") transfer

        block content
    script(src="/js/script.js")
